<div
  class="bg-gradient-to-r from-teal-600 to-teal-300 shadow-slate-400 shadow-lg shadow-teal-200"
>
  <div class="py-4 px-36 max-w-screen-xl mx-auto flex justify-between">
    <a
      class="font-bold w-fit px-4 py-1 rounded-xl bg-teal-500 text-slate-50 hover:scale-105 transiton-all duration-200 block font-mono border-2 border-slate-500"
      href=""
    >
      <span>B</span>ERATUNG
    </a>
    <nav class="flex items-center justify-between gap-8">
      <a
        class="border-2 border-teal-500 px-4 rounded-lg bg-teal-200 hover:bg-teal-300 transition-all duration-300 hover:border-teal-900 py-1"
        href=""
      >
        Blog
      </a>
      <a
        class="border-2 border-teal-500 px-4 rounded-lg bg-teal-200 hover:bg-teal-300 transition-all duration-300 hover:border-teal-900 py-1"
        href=""
      >
        Kontakte
      </a>
      <a
        class="border-2 border-teal-500 px-4 rounded-lg bg-teal-200 hover:bg-teal-300 transition-all duration-300 hover:border-teal-900 py-1"
        href=""
      >
        FAQ
      </a>
      <a
        class="border-2 border-teal-500 px-4 rounded-lg bg-teal-200 hover:bg-teal-300 transition-all duration-300 hover:border-teal-900 py-1"
        href=""
      >
        Über uns
      </a>
      <a
        class="border-2 border-teal-500 px-4 rounded-lg bg-teal-200 hover:bg-teal-300 transition-all duration-300 hover:border-teal-900 py-1"
        href="tel:+621278864581"
      >
        Anruf: +62 127 886 4581
      </a>
    </nav>
  </div>
</div>
