<div class="bg-teal-100 pt-10 pb-10">
  <div class="py-4 pt-10 px-36 max-w-screen-xl mx-auto">
    <h2
      class="w-64 bg-teal-600 h-24 border-2 border-teal-700 rounded-2xl shadow-md flex items-center justify-center mx-auto mb-10 text-center text-white cursor-pointer font-bold text-4xl font-mono"
    >
      Bewertungen
    </h2>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      <li
        class="cursor-pointer hover:scale-105 transition-all duration-200 bg-white p-6 rounded-lg shadow-md"
      >
        <div class="flex items-center gap-x-2 pb-4">
          <img class="w-12 h-12" src="../../img/avatar.png" alt="" />

          <h3 class="text-xl font-semibold mb-2 font-mono pt-2 text-slate-700">
            John Doe
          </h3>
        </div>
        <p class="text-gray-700 mb-4">
          "Ich war beeindruckt von der Professionalität und Expertise des XYZ
          Consulting Teams. Sie haben wertvolle Einblicke und praktische
          Lösungen geliefert, die unserem Unternehmen geholfen haben zu
          wachsen."
        </p>
      </li>
      <li
        class="cursor-pointer hover:scale-105 transition-all duration-200 bg-white p-6 rounded-lg shadow-md"
      >
        <div class="flex items-center gap-x-2 pb-4">
          <img class="w-12 h-12" src="../../img/avatar.png" alt="" />

          <h3 class="text-xl font-semibold mb-2 font-mono pt-2 text-slate-700">
            Jane Smith
          </h3>
        </div>
        <p class="text-gray-700 mb-4">
          "Die Zusammenarbeit mit XYZ Consulting war eine großartige Erfahrung.
          Ihr kooperativer Ansatz und die Aufmerksamkeit für Details haben den
          Beratungsprozess reibungslos und effektiv gemacht."
        </p>
      </li>
      <li
        class="cursor-pointer hover:scale-105 transition-all duration-200 bg-white p-6 rounded-lg shadow-md"
      >
        <div class="flex items-center gap-x-2 pb-4">
          <img class="w-12 h-12" src="../../img/avatar.png" alt="" />
          <h3 class="text-xl font-semibold mb-2 font-mono pt-2 text-slate-700">
            David Johnson
          </h3>
        </div>
        <p class="text-gray-700 mb-4">
          "XYZ Consulting hat unsere Erwartungen in jeder Hinsicht übertroffen.
          Ihre Hingabe an unseren Erfolg und innovative Lösungen unterscheiden
          sie wirklich."
        </p>
      </li>
    </ul>
  </div>
</div>
